<!--@model IEnumerable<UserAuthentication_.Models.Project>

@{
    ViewBag.Title = "Documents";
}

<h2>Documents</h2>-->

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<!--<table class="table">
    <tr>-->
        
        @*<th>
            @Html.DisplayNameFor(model => model.Document1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document4)
        </th>*@
        <!--<th></th>
    </tr>

<tr>-->


    @*<td>
        @if (item.Document1 != null)
        {

            @Html.DisplayFor(modelItem => item.Document1)
            <a href="~/Documents/@item.Document1">click here</a>
        }
    </td>*@
    @*<td>
        @if (item.Document2 != null)
        {

            @Html.DisplayFor(modelItem => item.Document2)
            <a href="~/Documents/@item.Document2">click here</a>
        }
    </td>*@
    @*<td>
        @if (item.Document3 != null)
        {

            @Html.DisplayFor(modelItem => item.Document3)
            <a href="~/Documents/@item.Document3">click here</a>
        }
    </td>*@
    @*<td>
        @if (item.Document4 != null)
        {

            @Html.DisplayFor(modelItem => item.Document4)
            <a href="~/Documents/@item.Document4">click here</a>
        }
    </td>*@

    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
<!--</tr>
}

</table>-->
