@model UserAuthentication.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    @*<div class="form-group">
        <label asp-for="RegisterUser.Password"></label>
        <input type="password" asp-for="RegisterUser.Password" class="form-control" placeholder="Enter Password" oninput="validateField()" id="password" />
        <span asp-validation-for="RegisterUser.Password" class="text-danger"></span>
    </div>*@
    <div class="form-group">
        @Html.Label("user Role", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.DropDownList("Name")*@
            @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default "  value="Register"  />
        </div>
    </div>
}

@section Scripts {
    @*<script>
        function validateField() {
            if (document.getElementById("firstname").value === '' || document.getElementById("lastname").value === ''
                || document.getElementById("input-phone").value === '' || document.getElementById("txtEmailId").value === ''
                || document.getElementById("txtUserName").value === '' || document.getElementById("dobdate").value === ''
                || document.getElementById("date").value === '' || document.getElementById("Country").value === ''
                || document.getElementById("State").value === '' || document.getElementById("City").value === ''
                || document.getElementById("Street").value === '' || document.getElementById("address").value === ''
                || document.getElementById("postalcode").value === '' || document.getElementById("password").value === ''
                || document.getElementById("confirmpassword").value === '' || document.getElementById("postalcode").value === ''
                || document.getElementById("logopic").value === '' || document.getElementById("profilepic").value === ''
                || document.getElementById("postalcode").value === '' || document.getElementById("mgender").checked == false && document.getElementById("fgender").checked == false
            ) {
                document.getElementById("Submit").disabled = true
            }
            else {
                document.getElementById("Submit").disabled = false
            }
    </script>*@
    @Scripts.Render("~/bundles/jqueryval")


}
