@using Microsoft.AspNet.Identity
@*@model UserAuthentication.Models.ApplicationUser*@
<style>
</style>
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            @if (Model.Picture != null)
            {
                <li> <a style="padding: 0px;" href="@Url.Action("Index", "Manage")"><img src="~/Images/@Model.Picture" name="Image" style=" height: 33px; border-radius: 33px; margin-top: 9px; width: 48px; }" /></a></li>
            }
            else
            {
                <li>
                    @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
